body,
.mdtoast {
    font-family: 'Rubik', sans-serif;
}

pre {
    text-align: justify !important;
}

.hidden {
    display: none;
}

@media screen and (max-width: 530px) {
    #notf {
        display: block;
    }
    #dot {
        display: none;
    }
}

.preload-screen {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url(img/load.gif) center no-repeat #fff;
}

.doughnut-chart-container {
    height: 360px;
    width: 360px;
    float: left;
}